<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "comun/metaSEO.html"%}
    {% import "macros/macros.html" as macros %}

    <title>{% block title %}{% endblock%}</title>

    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{static}}css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{{static}}css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{static}}css/sb-admin.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">

        {% include "comun/headerbar.html" %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h1 class="page-header">{% block tituloseccion %}{% endblock %}</h1>
                    </div>
                    <!-- Botones de accion -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <br/>
                        {% block botonesAccion %}{% endblock %}
                    </div>
                    <!-- Botones de acion end -->
                    
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="container-fluid">
                  <div class="row">
                    {% block contenido %}{% endblock %}
                  </div>
                </div>            
            </div>
        </div >
                <!-- /.row -->
    </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.0/metisMenu.min.js"></script>
    
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{static}}js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{static}}js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{static}}js/sb-admin.js"></script>

    {% block scripts %}{% endblock %}
    
</body>

</html>