<!-- Informacion del perfil -->
  <div class="row">
      <div class="col-xs-hide col-sm-6 col-md-6 col-lg-6">
          <img src="http://lorempixel.com/150/215/people" class="img-rounded" alt="">
      </div>
      <div class="col-xs-hide col-sm-6 col-md-6 col-lg-6">
          <div class="input-group">
            <label >Domicilio</label>
            <input type="text" class="form-control" placeholder="Domicilio" aria-describedby="sizing-addon2">
          </div>
          <br/>
          <div class="input-group">
            <label >Tel&eacute;fono</label>
            <input type="text" class="form-control" placeholder="tel" aria-describedby="sizing-addon2">
          </div>
          <br/>
          <div class="input-group">
            <label >Email</label>
            <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
          </div>
          <br/>
          <div class="input-group">
            <label>Firma</label><br/>
              <textarea id="firma">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque aperiam libero! Expedita nam dignissimos a, esse obcaecati minus, asperiores iste eius alias dicta optio debitis explicabo sunt animi suscipit.
            </textarea>
          </div>
      </div>
  </div>
<!-- Informacion del perfil End -->