
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{url_for('home')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{{url_for('home')}}"><i class="fa fa-user fa-fw"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="{{url_for('home')}}"><i class="fa fa-users fa-fw"></i> Pacientes</a>
                        </li>
                        <li>
                            <a href="{{url_for('citas')}}"><i class="fa fa-calendar fa-fw"></i> Citas</a>
                        </li>
                        <li>
                            <a href="{{url_for('config')}}"><i class="fa fa-wrench fa-fw"></i> Configuracion</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                