{% extends "comun/base.html" %}
{% block title %}Gerardo Sepulveda{% endblock %}
{% block tituloseccion %} Configuraciones - Usuario {% endblock %}
{% block contenido %}
    <div class="row">
        <!-- Informacion del perfil -->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-xs-hide col-sm-6 col-md-6 col-lg-6">
                    <img src="http://lorempixel.com/150/215/people" class="img-rounded" alt="">
                </div>
                <div class="col-xs-hide col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group">
                      <label >Domicilio</label>
                      <input type="text" class="form-control" placeholder="Domicilio" aria-describedby="sizing-addon2">
                    </div>
                    <br/>
                    <div class="input-group">
                      <label >Tel&eacute;fono</label>
                      <input type="text" class="form-control" placeholder="tel" aria-describedby="sizing-addon2">
                    </div>
                    <br/>
                    <div class="input-group">
                      <label >Email</label>
                      <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label >Firma</label><br/>
                        <textarea id="firma">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque aperiam libero! Expedita nam dignissimos a, esse obcaecati minus, asperiores iste eius alias dicta optio debitis explicabo sunt animi suscipit.
                      </textarea>
                    </div>
                </div>
            </div>

        </div>
        <!-- Informacion del perfil End -->

        <div class="col-lg-8">
            <div class="row">
                <form action="">

                    <!-- Agenda -->
                    <div class="col-md-6">
                        <h3>Horarios disponibles</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{lunes}}" id="Lunes">
                                        Lunes
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{martes}}" id="Martes">
                                        Martes
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{miercoles}}" id="Miercoles">
                                        Miercoles
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{jueves}}" id="Jueves">
                                        Jueves
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{viernes}}" id="Viernes">
                                        Viernes
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{sabado}}" id="Sabado">
                                        S&aacute;bado
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" checked="{{domingo}}" id="Domingo">
                                        Domingo
                                </label>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Desde</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="time" id="desde" value="{{desde}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hasta</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="time" id="hasta" value="{{hasta}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agenda End-->

                    <!-- Opciones del sitio -->
                    <div class="col-md-6">
                        <div class="checkbox">
                        <h3>Opciones del sitio</h3>
                          <label>
                            <input type="checkbox" checked="{{EnviarEmail}}" id="enviarEmail">
                                Enviar de Email
                          </label><br>
                          <label>
                            <input type="checkbox" checked="{{CualquieraAgenda}}" id="cualquieraAgenda">
                                Cualquiera puede agendar
                          </label><br>
                          <label>
                            <input type="checkbox" checked="{{AgendaLlena}}" id="agendaLlena">
                                Agenda llena
                          </label><br>
                          <label>
                            <input type="checkbox" checked="{{SitioActivado}}" id="sitioDesactivado">
                                Sitio activado
                          </label>
                        </div>
                    </div>
                    <!-- Opciones del sitio End-->
                </form>
            </div>
        </div>
    </div>

{% endblock %}