{% extends "comun/base.html" %}
{% block title %}Gerardo Sepulveda{% endblock %}
{% block tituloseccion %} Pr&oacute;ximas citas {% endblock %}
{% block botonesAccion %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Nuevo paciente</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Nueva cita</button>
      </div>
    </div>
{% endblock %}
{% block contenido %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-calendar fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge">17:00</div>
                          <div>Luis Hernandez</div>
                      </div>
                  </div>
              </div>
              <a href="{{url_for('detalles_paciente',pacienteID=1)}}" target="_blank">
                  <div class="panel-footer">
                      <span class="pull-left">M&aacute;s detalles</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-calendar fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge">17:30</div>
                          <div>Daniel Villegas</div>
                      </div>
                  </div>
              </div>
              <a href="{{url_for('detalles_paciente',pacienteID=1)}}" target="_blank">
                  <div class="panel-footer">
                      <span class="pull-left">M&aacute;s detalles</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-calendar fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge">18:00</div>
                          <div>Perla Sanchez</div>
                      </div>
                  </div>
              </div>
              <a href="{{url_for('detalles_paciente',pacienteID=1)}}" target="_blank">
                  <div class="panel-footer">
                      <span class="pull-left">M&aacute;s detalles</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-calendar fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge">18:30</div>
                          <div>Perla Marroquin</div>
                      </div>
                  </div>
              </div>
              <a href="{{url_for('detalles_paciente',pacienteID=1)}}" target="_blank">
                  <div class="panel-footer">
                      <span class="pull-left">M&aacute;s detalles</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="calendar_basic"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["calendar"]});
      google.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 37032 ],
          [ new Date(2012, 3, 14), 38024 ],
          [ new Date(2012, 3, 15), 38024 ],
          [ new Date(2012, 3, 16), 38108 ],
          [ new Date(2012, 3, 17), 38229 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 38177 ],
          [ new Date(2013, 9, 5), 38705 ],
          [ new Date(2013, 9, 12), 38210 ],
          [ new Date(2013, 9, 13), 38029 ],
          [ new Date(2013, 9, 19), 38823 ],
          [ new Date(2013, 9, 23), 38345 ],
          [ new Date(2013, 9, 24), 38436 ],
          [ new Date(2013, 9, 30), 38447 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Historico de citas",
         height: 350,
       };

       chart.draw(dataTable, options);
   }
    </script>
{% endblock %}