{% extends "comun/base.html" %}
{% block title %}Gerardo Sepulveda{% endblock %}
{% block tituloseccion %} Pr&oacute;ximas citas {% endblock %}
{% block contenido %}

<link href="{{static}}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <div class="row">
        <div class="col-lg-12">
            <table id="citas" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>D&iacute;a</th>
                <th>Hora</th>
                <th>Es primer cita</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Paciente</th>
                <th>D&iacute;a</th>
                <th>Hora</th>
                <th>Es primer cita</th>
            </tr>
        </tfoot>
 
        <tbody>
            <tr>
                <td>Michael Bruce</td>
                <td>Analista UV</td>
                <td>22:50</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Analista UV</td>
                <td>2250</td>
                <td>SI</td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Mis estadisticas</h3>
            <div class="panel panel-default">
            <div id="myfirstchart" style="height: 250px;"></div>  
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#citas').DataTable({
                responsive: true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ records por página",
                    "zeroRecords": "No se encotraron registros - disculpa",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay información disponible",
                    "infoFiltered": "(filtrado de _MAX_ total records)"
                }
        });
    });

    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'myfirstchart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
        { year: '2008', value: 20 },
        { year: '2009', value: 10 },
        { year: '2010', value: 5 },
        { year: '2011', value: 5 },
        { year: '2012', value: 20 }
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'year',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });
</script>

<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"/>
<script src="{{static}}js/plugins/dataTables/dataTables.bootstrap.min.js"></script>
{% endblock %}